body{
    margin: 0;
    padding: 0;
}

.container{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 30%;
    max-width: 100%;
}

.menu{
    width: 100%;
    text-align: center;
    margin: 20px;
    z-index: 2;
    position: relative;
}
.menu > a{
    padding: 20px 41.26px;
    color: #0028F8;
    font-family: Red Hat Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 76.3%; /* 15.26px */
    letter-spacing: -0.6px;
    display: flexbox;
}

.menu > a.other{
    padding: 20px 41.26px;
    color: #4d4e56;
    font-family: Red Hat Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 76.3%; /* 15.26px */
    letter-spacing: -0.6px;
    display: flexbox;
}


.search {
    width: 25px;
    height: 25px;
    margin-left: 200px;
}

.sign_up {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background-color:transparent;
    font-family: "Raleway";
    font-size: 16px;
    color: #fff;
    justify-content: end;
}

@media (max-width: 480px) {
    body {
      background-color: #87ceeb;
    }
    .title > div:first-child{
        color: #41403C;
        font-family: Red Hat Text, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 76.3%; /* 152.6GIT px */
        letter-spacing: -6px; 
        max-width: 100%;
        height: 156px;
    }
    
    .title > div:nth-child(2){
        font-family: Red Hat Text, sans-serif;
        font-size: 160px;
        font-style: normal;
        font-weight: 700;
        line-height: 76.3%; /* 122.08px */
        letter-spacing: -4.8px;
        margin-left: 200px;
    }
    
    .icons{
        margin-left: 175px;
        width: 2%;
    }
    .title > div:nth-child(2) span {
        -webkit-text-stroke: 2px black;
        color: transparent;
        margin-top: 10px;
    }
    .title > div:nth-child(3){
        color: #000;
        text-align: center;
        font-family: Raleway;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 1.2px;
        margin-top: 70px;
    }
    
    .title > div:nth-child(4){
        flex-shrink: 0;
        margin-top: 20px;
        text-align: center;
        margin-top: 70px;
        
    }
    
    .title > div:last-child > button{
        border: 2px solid #002AFF;
        background: #F2F2F2;
        width: 135px;
        height: 57px;
    
    }


}


.POT {
    color: #fff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 18.4px;
    padding: 0px 38px 0px 32px;
    width: 83px;
    z-index: 2;
    position: relative;
}

.t{
    margin-left: 18px;
    margin-top: 3px;
}

.image-section {
    position: absolute; 
    top: 2vw; /* posición vertical  */
    left: 0.26vh; /* posición horizontal  */
    z-index: 1; /* Coloca la imagen detrás del menú  */
}

.image-section2{
    position: absolute;
    top: 0.77vw;
    right: -6.31vh;
    z-index: 1;
}

.image-section3{
    position: absolute;
    top: 43.4vw;
    right: -7.3vh;
    z-index: 1;
}

.image-section4 {
    position: absolute; 
    top: 36.6vw; 
    left: 0.2vh; 
    z-index: 1; 
}

.title {
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 10% 5%;
    text-align: center;
    z-index: 2; /* pone al titulo encima de la imagen*/
    position: relative;
}

.title > div:first-child{
    color: #41403C;
    font-family: Red Hat Text, sans-serif;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: 76.3%; /* 152.6GIT px */
    letter-spacing: -6px; 
    max-width: 100%;
    height: 156px;
}

.title > div:nth-child(2){
    font-family: Red Hat Text, sans-serif;
    font-size: 160px;
    font-style: normal;
    font-weight: 700;
    line-height: 76.3%; /* 122.08px */
    letter-spacing: -4.8px;
    margin-left: 200px;
}

.icons{
    margin-left: 175px;
    width: 2%;
}
.title > div:nth-child(2) span {
    -webkit-text-stroke: 2px black;
    color: transparent;
    margin-top: 10px;
}
.title > div:nth-child(3){
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-top: 70px;
}

.title > div:nth-child(4){
    flex-shrink: 0;
    margin-top: 20px;
    text-align: center;
    margin-top: 70px;
    
}

.title > div:last-child > button{
    border: 2px solid #002AFF;
    background: #F2F2F2;
    width: 135px;
    height: 57px;

}

.text{
    padding: 5px 300px 5px 300px;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
    margin-top: 30px;
}