.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.menu {
    flex-shrink: 0;
    color: #686868;
    font-family: Red Hat Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 76.3%; /* 15.26px */
    letter-spacing: -0.6px;
    
}


.POT {
    color: #fff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: left;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 18.4px;
    padding: 0px 38px 0px 32px;
    width: 63px;
}

.t{
    margin: 20px;
    position: relative;
   
}

.search {
    width: 25px;
    height: 25px;
}

.title{
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 10% 5%;
   text-align: center;
}

.plant{
    flex-shrink: 0;
    text-align: center;
    color: #41403C;
    font-family: Red Hat Text;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    line-height: 76.3%; /* 152.6px */
    letter-spacing: -6px;
}

.house{
    
    font-size: 160px;
    font-weight: 700;
    line-height: 76.3%; /* 122.08px */
    letter-spacing: -4.8px;
    color: transparent;
    font-style: normal;
    font-family:Red Hat Text, sans-serif;
    -webkit-text-stroke: 2px #000;
    margin: 5px;
}

.text{
    padding: 621px 510px 357px 510px;
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.2px;
}
