.flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.menu {
    flex-shrink: 0;
    color: #686868;
    font-family: Red Hat Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 76.3%; /* 15.26px */
    letter-spacing: -0.6px;
    
}


.POT {
    color: #fff;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-align: left;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 18.4px;
    padding: 0px 38px 0px 32px;
    width: 63px;
}

.t{
    
    position: relative;
    top: 50px;
    left: -260px;
}

.search {
    width: 25px;
    height: 25px;
    
}




